<img src= "<%=@pokemon.img_url%>">
<h2>Pokemon: <%=@pokemon.name%></h2>
<h3>Type: <%=@pokemon.poke_type%></h3>
<h3>CP: <%=@pokemon.cp%></h3>

<h3><a href="/pokemons/<%= @pokemon.id %>/edit">Edit this Pokemon</a></h3>
